
.forgotPasswordBox{
  background:white;
border: 5px solid white;
    width: 75vw;
    height: 75vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 14vmax;
    border-radius: 20px;
    margin-top: 4vmax;
}
.forgotPasswordHeading{
    text-align: center;
    color: white;
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid white;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 130px;
    /* bottom: 85%; */
}
.forgotImg{
    width: 70%;
    border: 3px solid white;
    margin-top: 6vmax;
    border-radius: 10px;
    margin-right: 5vmax;
    margin-top: 10vmax;
}
.forgotPasswordEmail>input {
    padding: 1vmax 4vmax;
    width: 50vh;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
    color: white;
    background-image: linear-gradient(to right, #cc2b5e, #753a88);

    
    margin-bottom: 2vmax;
  }
  .forgotPasswordEmail >svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: white;
    padding-top: 1.1vmax;
   
  }
  .Section{
    width: 10vh;
    margin-top: 15vmax;
    margin-right: 28vmax;
  }
  .forgotPasswordBtn{
    border: none;
    background: #cc2b5e;

    color: white;
    font: 300 0.9vmax "Roboto";
    width: 40vh;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-top: 1vmax;
  }
  .forgotPasswordBtn:hover{
    background-image: linear-gradient(to right, #cc2b5e, #753a88);
    border: 1px solid white;

  }


  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .forgotPasswordBox{
        background-image: linear-gradient(to right, #cc2b5e, #753a88);
        border: 5px solid white;
        position: relative;
        right: 4rem;
        width: 85vw;
        height: 75vh;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 14vmax;
        border-radius: 20px;
        margin-top: 4vmax;
    }
   
    .forgotImg{
        width: 100%;
        position: relative;
        top: -5rem;
        left: -4px;
    }
    .forgotPasswordEmail>input {
        padding: 2vmax 7vmax;
        width: 41vh;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 4px;
        position: relative;
        top: -8rem;
        left: 1rem;
        font: 300 3vmax cursive;
        outline: none;
        color: white;
        background-image: linear-gradient(to right, #cc2b5e, #753a88);
    
        

      }
      .forgotPasswordEmail >svg{
        position: absolute;
        top: 276px;
        z-index: 1;
        left: 16px;
        transform: translateX(1vmax);
        font-size: 5vmax;
        color: white;
        padding-top: 1.1vmax;
       
      }
    
      .forgotPasswordBtn{
        border: none;
    background: #cc2b5e;
    color: white;
    position: relative;
    top: -91px;
    left: 18px;
    font: 300 3.9vmax "Roboto";
    width: 40vh;
    padding: 1.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
    margin-top: 1vmax;
      }
      .forgotPasswordBtn:hover{
        background-image: linear-gradient(to right, #cc2b5e, #753a88);
        border: 1px solid white;
    
      }
  }


  @media only screen and (min-device-width : 481px) and (max-device-width : 768px){
    .forgotPasswordBox{
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
      border: 5px solid white;
      position: relative !important;
      right: 6rem;
      width: 85vw;
      height: 75vh;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 14vmax;
      border-radius: 20px;
      margin-top: 4vmax;
  }

  .forgotImg{
      width: 100%;
      position: relative;
      top: -6rem;
      left: -4px;
  }
  .forgotPasswordEmail>input {
      padding: 2vmax 7vmax;
      width: 35vh;
      box-sizing: border-box;
      border: 1px solid white;
      border-radius: 4px;
      position: relative;
      top: -8rem;
      left: 0.9rem;
      font: 300 3vmax cursive;
      outline: none;
      color: white;
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
  
      
      margin-bottom: 2vmax;
    }
    .forgotPasswordEmail >svg{
      position: absolute;
      top: 370px;
      z-index: 1;
      left: 16px;
      transform: translateX(1vmax);
      font-size: 5vmax;
      color: white;
      padding-top: 1.1vmax;
     
    }
 
    .forgotPasswordBtn{
      border: none;
  background: #cc2b5e;
  color: white;
  position: relative;
  top: -91px;
  left: 35px;
  font: 300 3.9vmax "Roboto";
  width: 30vh;
  padding: 1.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
  margin-top: 1vmax;
    }
    .forgotPasswordBtn:hover{
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
      border: 1px solid white;
  
    }
  }

  @media only screen and (min-device-width : 769px) and (max-device-width : 1023px){
    .forgotPasswordBox{
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
      border: 5px solid white;
      position: relative !important;
      right: 6rem;
      width: 85vw;
      height: 75vh;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 14vmax;
      border-radius: 20px;
      margin-top: 4vmax;
  }

  .forgotImg{
      width: 100%;
      position: relative;
      top: -8rem;
      left: -4px;
  }
  .forgotPasswordEmail>input {
      padding: 2vmax 7vmax;
      width: 50vh;
      box-sizing: border-box;
      border: 1px solid white;
      border-radius: 4px;
      position: relative;
      top: -15rem;
      left: 2.5rem;
      font: 300 3vmax cursive;
      outline: none;
      color: white;
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
  
      
      margin-bottom: 2vmax;
    }
    .forgotPasswordEmail >svg{
      position: absolute;
      top: 490px;
      z-index: 1;
      left: 34px;
      transform: translateX(1vmax);
      font-size: 5vmax;
      color: white;
      padding-top: 1.1vmax;
     
    }
 
    .forgotPasswordBtn{
      border: none;
  background: #cc2b5e;
  color: white;
  position: relative;
  top: -219px;
  left: 141px;
  font: 300 3.9vmax "Roboto";
  width: 30vh;
  padding: 1.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
  margin-top: 1vmax;
    }
    .forgotPasswordBtn:hover{
      background-image: linear-gradient(to right, #cc2b5e, #753a88);
      border: 1px solid white;
  
    }
  }

  